.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 4rem;
}

.navbar {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: #fff;
  padding: 0.5rem;
}
